/*
* {
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 100vh;
}

.spinner {
  margin: auto;
  font-family: monospace;
  font-size: 16px;
  text-transform: uppercase;
}

div.circle {
  display: flex;
}

.circle {
  margin: auto;

  width: 50px;
  height: 50px;
  border-top: 4px solid black;
  border-left: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-bottom: 4px solid lightgray;
  border-radius: 50%;
  margin-bottom: 8px;

  animation: rotator 2s infinite;
   animation: spin 2s; 
  animation-timing-function: linear;
}

@keyframes rotator {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-text {
  animation: blinking 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*/

* {
    box-sizing: border-box;
  }
  
  p {
    margin: 0 32px;
    padding: 8px;
    background-color: antiquewhite;
    display: inline-block;
    border-radius: 4px;
  }

  .container{
    display: flex;
    height: 100vh;
}

.spinner{
    margin: auto;
}

div.circle {
    display: flex;

}

.circle{
	margin: auto;
    width: 50px;
    height: 50px;
    margin: auto;
    border: solid 4px lightgrey;
    border-top: solid 4px black;
    margin-bottom: 8px;
    border-radius: 50%;
    animation: spiner 2s linear;
}


.spinner-text{
    position: absolute;
    font-family: monospace;
    font-size: 16px;
    text-transform: uppercase;
    animation: rotator 2s infinite;
            }

            div.class {
                display: flex;
            }
    
            @keyframes rotator {
               0%{
                opacity: 0;
               }
               50%{
                opacity: 1;
               }
               100%{
                opacity: 0;
               }
            }
            @keyframes spiner {
               from{
                transform: rotate(0);
               }
              to{
               transform: rotate(360deg);
               }
               }