html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

section {
  margin: 32px;
}

h1 {
  word-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 28px;
}

.tehnology {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}

p a {
  text-decoration: none;
}

p em {
  font-style: italic;
  color: gray;
}
