* {
  box-sizing: border-box;
	
}

.dropdown {/*FATHER*/
margin: 16px;
 position: relative;
 display: inline-block;
	
	margin: 0;
}

.menu-button {
  padding: 16px;
  background-color: rgba(0, 100, 0, 0.8);
/*  display: block;*/
	display: flex;
  color: white;
}

.menu-button:hover {
  font-size: 16px;
  background-color: rgba(0, 100, 0, 1);
  color: white;
	
  cursor: pointer;
	
}

/*drop*/
.menu-list {
  position: absolute;
	
 display: none;/* меню ivsible*/
 margin: 0px;/*заб відступ ^*/
 padding: 0px;/*список з ліва*/
  background-color: lightcyan;
  color: black;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);/*тінь drop*/
  min-width: 120px;
  z-index: 1;
  list-style: none;
	margin: 0px
}

/*drop*/
.menu-item {
  padding: 16px;/*відступи дроп*/
}

.menu-item:hover {
  background-color: #ff4ee6;
}

.dropdown:hover .menu-list {
  display: block;!
}
