.container {
  @media (min-width: 900px) {
    display: flex;
  }
}

.products {
  @media (min-width: 600px) {
    display: flex;
  }

  @media (min-width: 900px) {
    flex: 2;
  }

  &__navigation {
    display: flex;
    background-color: #ff7f50;
    min-height: 200px;

    @media (min-width: 600px) {
      flex: 1;
    }
  }

  &__products-list {
    display: flex;
    background-color: #006400;
    min-height: 200px;
    @media (min-width: 600px) {
      flex: 1;
    }
  }
}

.news {
  display: flex;
  background-color: #0ff;
  min-height: 200px;

  @media (min-width: 900px) {
    flex: 1;
  }
}

span {
  margin: auto;
  padding: 8px;
  font-family: Verdana, sans-serif;
  background-color: #faebd7;
  border-radius: 4px;
  text-transform: lowercase;
}
