* {
  box-sizing: border-box;
}

html {
  font-family: Verdana, sans-serif;
  color: #555;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/*Header*/
.header {
  text-align: center;
  color: white;
  background-image: linear-gradient(60deg, red, orange);
}

/*Main*/
.main {
  flex: 1 0 auto;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

img {
  max-width: 100%;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}
.nav-list {
  padding: 0;
  list-style: none;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

li.nav-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.nav-list-link {
  color: white;
  width: 100%;
  text-decoration: none;
  display: inline-block;
}

.section {
  font-size: 1.25em;
}

.units-list li {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
  padding: 0;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.news {
  /* width: 20%; */
}


/*Footer*/
.footer {
  text-align: center;
  padding: 0.5em;
  background-color: #e5e5e5;
}



/*Media*/
@media screen and (min-width: 600px) {
  .main {
    display: flex;
    flex-wrap: wrap;
  }
  .navigation {
    width: 20%;
  }
  .section {
    width: 80%;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    display: flex;
  }

  .navigation {
    width: 20%;
  }

  .section {
    width: 60%;
  }
  .news {
    width: 20%;
  }
}
