* {
  box-sizing: border-box; /*+*/
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /*+*/
}

.header {
  text-align: center;
  color: white;
  background-image: linear-gradient(60deg, red, orange);
} /*+*/

html {
  font-family: Verdana, sans-serif;
  color: #555;
  font-size: 16px;
} /*+*/

.main {
  display: flex;
  flex-grow: 1;
} /*+*/

.nav-list {
  padding: 0;
  list-style: none;
}

.nav-list-item {
  background-color: #808080;
  line-height: 2em;
  margin-bottom: 0.5em;

  padding-left: 0.5em;
  padding-right: 0.5em;
}

li.nav-list-item {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.nav-list-link {
  color: white;

  width: 100%;

  text-decoration: none;
}

.navigation,
.section,
.news {
  padding: 0.5em;
}

 .navigation {
  width: 20%;
} 

.section {
  width: 60%; 

  font-size: 1.25em;
}

.units-list li {
  line-height: 1.75em;
}

.css-units {
  color: #8b0000;
  background-color: #e5e5e5;
  font-size: 1.125em;
  font-weight: 700;
  padding: 0;
}

.section__header {
  font-size: 5vw;
  text-align: center;
}

.units-list li {
  list-style: none;
}

.news {
   width: 20%; 
}

.footer {
  text-align: center;
  padding: 0.5em;
  background-color: #e5e5e5;
}
