* {
  box-sizing: border-box;
}
table {
  margin: 16px;
  border: 1px solid black;
}

td {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

table,
td {
  border-collapse: collapse;
}

table tr:nth-child(2) > td:nth-child(odd),
table tr:nth-child(4) > td:nth-child(odd),
table tr:nth-child(6) > td:nth-child(odd),
table tr:nth-child(8) > td:nth-child(odd),
table tr:nth-child(3) > td:nth-child(even),
table tr:nth-child(5) > td:nth-child(even),
table tr:nth-child(7) > td:nth-child(even),
table tr:nth-child(9) > td:nth-child(even) {
  background-color: black;
}

table tr td:first-child,
table tr td:last-child {
  background-color: white !important;
  border: none;
}

table tr:nth-child(2) > td:nth-child(odd) {
  /*	border-top: 1px solid red;*/
}

table tr:first-child td,
table tr:last-child td {
  border: none;
}
