* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div {
  margin: 16px;
}

.text {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip {
  display: none;
  position: absolute;
  bottom: -40px;
  margin-top: 4px;
  background-color: gray;
  color: white;
  border-radius: 4px;
  padding: 8px;
}

.text:hover .tooltip {
  display: block;
}
