.article:last-child {
  display: block;
  margin-top: 20px;

  // @media screen and (min-width: $lg) {
  @mixin for-large-up {
    margin-top: 0px;
  }
}

.about {
  padding: 46px 15px;
  width: 100%;
  background: #f4f5f7;

  @mixin for-large-up {
    //@media screen and (min-width: $lg) {
    display: flex;
    justify-content: space-between;
    padding: 77px 130px 76px 130px;
  }
}

.article {
  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    margin: 0;

    @mixin for-large-up {
      // @media screen and (min-width: $lg) {
      width: 555px;
    }
  }

  &__text {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 0;
    margin-top: 6px;
  }
}
