.actions-button {
  background-color: #3040c4;
  color: #fff;
  width: 160px;
  height: 48px;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 2px;
}

.hide_desktop {
  @mixin for-large-up {
    // @media screen and (min-width: $lg) {
    display: none;
  }
}

//@media screen and (max-width: ($lg - 1)) {
@mixin for-large-down {
  .hide_mobile {
    display: none;
  }
}
