.customers {
  display: flex;
  flex-direction: column;

  //@media screen and (min-width: $lg) {
  @mixin for-large-up {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }

  &__row {
    display: flex;

    @mixin for-large-up {
      //@media screen and (min-width: $lg) {
      flex: 1;
      justify-content: space-around;
    }
  }

  &__item {
    height: 94px;
    width: 107px;
    border-bottom: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    @mixin for-large-up {
      //@media screen and (min-width: $lg) {
      border: none;
    }
  }

  &__item:last-child {
    border-right: none;
  }

  &__logo {
    filter: brightness(0);
    max-width: 80%;
  }
}
