.order {
  padding: 50px 15px;
  background-color: rgba(244, 245, 247, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media screen and (min-width: $lg) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &__details {
    display: block;
    width: 100%;
    @media screen and (min-width: $lg) {
      max-width: 555px;
      text-align: start;
    }
  }

  &__illustration {
    max-width: 270px;

    @media screen and (min-width: $lg) {
      margin-right: 125px;
    }

    @mixin for-large-up {
      margin: 269px;
      margin-right: 121px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }

  &__text {
    font-size: 24px;
    line-height: 34px;
    margin-top: 0;
    margin-top: 18px;
  }

  &__form {
    @mixin for-large-up {
      display: flex;
    }
  }
  &__email {
    margin-top: 0px;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    height: 48px;
    width: 385px;
    font-size: 18px;
    line-height: 13px;

    @media screen and (max-width: ($lg - 1)) {
      width: 100%;
      text-align: center;
      margin-top: 40px;
    }

    &::placeholder {
      color: rgba(43, 41, 45, 1);
      padding-left: 10px;
    }
  }

  &__button {
    margin-top: 12px;

    @media screen and (max-width: ($lg - 1)) {
      width: 100%;
    }
  }

  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }

  &__terms-link {
    color: rgba(49, 66, 198, 1);
  }
}
