* {
  box-sizing: border-box;
}
.navigatiom {
  background-color: #ff7f50;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.product-list {
  background-color: #006400;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

.news {
  background-color: #0ff;
  min-height: 200px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
}

span {
  font-family: Verdana, sans-serif;
  background-color: #faebd7;
  padding: 8px;
  border-radius: 4px;
  text-transform: lowercase;
  margin: auto;
}

@media screen and (min-width: 600px) {
  .products {
    display: flex;
    flex-grow: 2;
    flex-basis: 0;
  }
}

@media screen and (min-width: 900px) {
  .content {
    display: flex;
    flex-basis: 0;
  }
}
