/* * {
  box-sizing: border-box;
} */

html {
  font-size: 18px;
}

.properties-list__item {
  padding: 8px;
}
.properties-list {
  color: #f39;
  line-height: 32px;
  list-style: none;
  font-size: 24px;
}
