@import 'breakpoints.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.squer {
  width: 100px;
  height: 100px;
  background-color: coral;
  margin: 16px;

  @include for-medium-up {
    background-color: aqua;
  }

  @include for-large-up {
    background-color: gold;
  }
}
