html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.header {
  background-color: #eee;
  padding-left: 1em;
  padding-left: 1em;
  height: 3em;
  display: flex;
  align-items: center;
}

i {
  font-size: 2em;
  padding: 0;
  border-radius: none;
  cursor: pointer;
}

.navigation {
  width: 20%;
  padding: 0.5em;
}

.nav-list {
  width: 100%;
  list-style: none;
  padding: 0;
}

.nav-list-item {
  background-color: #808080;
  text-decoration: none;
  padding: 0.5em;

  margin: 5px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: white;
}

.nav-list-link {
  color: white;
  text-decoration: none;
}

/* .main {
    opacity: 0;
} */

@media screen and (min-width: 600px) {
  i {
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    opacity: 0;
  }
}
