.customers {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 106px;

  &__logo {
    filter: brightness(0);
  }
}
