.footer {
  display: flex;
  margin-top: auto;
  flex-direction: column;

  &-navigation {
    margin: 0;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $lg) {
      width: 1140px;
      margin: 0 auto;
      height: 338px;
      display: flex;
      flex-direction: row;
    }
  }

  &__links {
    display: flex;
    margin-left: 15px;
    flex-direction: column;

    @media screen and (min-width: $lg) {
      height: 50px;
      flex-direction: row;
      width: 1140px;
      margin: 0 auto;
      align-items: center;
    }
  }

  &__line {
    border-top: 1px solid rgba(43, 41, 45, 1);
    width: 100%;
    opacity: 0.1;
    margin: 0;
    margin-top: 40px;

    @media screen and (min-width: $lg) {
      margin: 0;
    }
  }

  &__description {
    display: none;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: rgba(43, 41, 45, 0.6);

    @media screen and (min-width: $lg) {
      display: block;
    }
  }

  .logo {
    @media screen and (max-width: ($lg - 1)) {
      display: none;
    }
  }
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $lg) {
    flex-direction: row;
    margin-top: 60px;
    margin-left: auto;
  }

  &__column {
    margin-top: 30px;

    @media screen and (min-width: $lg) {
      margin-top: 0;
      margin-right: 29px;
    }
  }
}

.nav-links {
  width: 265px;

  &__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    margin: 0;
  }

  &__list {
    font-size: 18px;
    line-height: 30px;
    list-style-type: none;
    color: rgba(43, 41, 45, 0.6);
    padding: 0;
    margin: 0;
    margin-top: 18px;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $lg) {
    margin: 0;
    margin-top: 25px;
    justify-content: start;
  }

  &__item {
    margin-right: 10px;
  }
}

.terms {
  line-height: 22px;
  font-size: 14px;
  margin-top: 30px;

  @media screen and (min-width: $lg) {
    line-height: 50px;
    margin-top: 0;
  }

  &__items {
    text-decoration: none;
    color: rgba(43, 41, 45, 0.6);
    margin-right: 22px;
  }
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;

  @media screen and (min-width: $lg) {
    margin-left: auto;
  }

  &__item {
    margin-left: 20px;
  }

  &__item:first-child {
    margin-left: 0;
  }
}

.about-company {
  margin-top: 44px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: $lg) {
    display: none;
  }

  &__image {
    height: 60px;
    width: 60px;
  }

  &__name {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    margin-top: 20px;
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
  }
}
