.headline {
  width: 100%;
  // position: relative;
  // width: 1140px;
  // margin: auto;
  // margin-top: 84px;
  // display: flex;
  // padding-bottom: 77px;

  &__content {
    margin: 35px 15px 33px 15px;

    // position: absolute;
    // z-index: 1;
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.3125px;
    margin: 0;
  }

  &__description {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    line-height: 34px;
  }

  &__banner {
    width: 100%;
    margin-bottom: 36px;
  }

  &__actions {
    margin-top: 58px;
  }

  &__learn-more-btn {
    background-color: #fff;
    color: #3040c4;
    width: 158px;
    height: 48px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    margin-top: 15px;
  }
}
@media screen and (max-width: 399px) {
  .headline {
    &__actions-btn {
      width: 100% !important;
    }
  }
}
@media screen and (min-width: 400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;

    &__content {
      position: absolute;
      z-index: 1;
      margin: 0;
    }

    &__title {
      width: 754px;
      height: 165px;
      font-size: 80px;
      line-height: 78px;
      letter-spacing: -0.5px;
      z-index: 1;
    }

    &__description {
      margin-top: 34px;
      margin-bottom: 0;
      height: 102px;
      width: 456px;
      font-size: 24px;
      line-height: 34px;
      z-index: 1;
    }

    &__actions {
      margin-top: 58px;
      display: flex;
    }

    &__learn-more-btn {
      margin-left: 10px;
      margin-top: 0;
    }

    &__banner {
      position: relative;
      top: 0;
      right: -105px;
      width: 796px;
      height: 448px;
      margin-left: auto;
    }
  }
}
