@import 'header.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
}

.page {
  max-width: 1400px;
  margin: auto;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
