@import 'header.scss';
@import 'footer.scss';

@import 'headline.scss';
@import 'common.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'tips.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;

  @media screen and (min-width: $lg) {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
