@import 'variables.scss';
* {
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.header {
  line-height: 3em;
  background-color: #006400;
  list-style: none;
  color: #fff;
}

.menu {
  margin-top: 0;

  margin-left: 3em;
  display: flex;
  margin-left: 3em;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
  list-style: none;

  &__item {
    padding-left: 8px;
    padding-right: 8px;

    &-text {
    }

    &_active {
      color: yellow;
    }
  }
  &__item-text {
  }
  &__item_active {
  }
}

.submenu {
  display: none;
  padding: 0;
  position: absolute;
  background-color: #ff7f50;
  color: #fff;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  min-width: 120px;
  z-index: 1;
  &__item:hover .submenu {
    display: block;
  }
}

.menu__item_active {
  color: $color-third;
}

.menu__item-text {
  //   padding-top: 8px;
  //   padding-bottom: 8px;
  :hover {
    display: block;
  }
}

.menu__item_active {
  //   background-color: $color-third;
}

.submenu {
  display: none;
  position: absolute;
  color: $color-fifth;
  background-color: $color-fourth;
  min-width: 120px;

  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  margin: 0px;
  padding: 0px;
  top: 48px;
  //   z-index: -1;
  //   padding: 0;

  &__item {
    // margin: $unit-px;
    list-style: none;
    padding-top: $unit-px;
    padding-bottom: $unit-px;
  }
  :hover {
    color: $color-sixth;
    background-color: $color-fourth;
  }
}

// & .menu__item_active {
//     color: yellow;
//     &:hover .submenu {
//       display: block;
//     }
//   }
// }
