* {
  box-sizing: border-box;
}

table {
  width: 500px;
  margin: 16px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 4px;
  text-align: right;
}
/* 
div {
  overflow-x: auto;
} */
